body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}
.top {
  background: #1e88e5;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
#questionBox {
  padding: 15px;
  font-size: 18px;
}
.options button {
  width: 90%;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.submit {
  background: red;
  color: white;
  width: 100%;
  padding: 15px;
  font-size: 18px;
}
